[Desktop Entry]
Name=Dropdown Terminal
Comment=Kitty dropdown terminal
Exec=tdrop -h 50% -n tdrop_terminal -mtaA  -s dropdown kitty --class tdrop_terminal
Icon=kitty
Terminal=False
Type=Application
StartupNotify=False
Categories=Development;
