[Unit]
Description=Lock the screen on resume from suspend
Before=sleep.target
Before=suspend.target

[Service]
User=anes
Type=forking
Environment=DISPLAY=:0
WorkingDirectory=/usr/local/bin
ExecStart=/usr/bin/bash lock

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
